{:deps {org.apache.activemq/artemis-server {:mvn/version "2.40.0"}
        org.apache.activemq/artemis-amqp-protocol {:mvn/version "2.40.0"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}}
   :exec-fn monkey.test/all}

  :watch
  {:exec-fn monkey.test/watch}

  :junit
  {:exec-fn monkey.test/junit}
  
  :jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}
                ch.qos.logback/logback-classic {:mvn/version "1.5.18"}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/monkey-jms-artemis.jar"
               :lib "com.monkeyprojects/monkey-jms-artemis"
               :version [[:env "LIB_VERSION"] "0.3.2-SNAPSHOT"]
               :scm {:url "https://github.com/monkey-projects/monkey-jms"}
               :pom-data [[:licenses
                           [:license
                            [:name "MIT"]
                            [:url "https://mit-license.org/"]]]]}}

  :install
  {:exec-fn monkey.build/jar+install}

  :publish
  {:exec-fn monkey.build/jar+deploy}}}
